/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Load fxml
*/
#load_root {
    -fx-background-color: #CCCCCC;
}

#dragTarget .text {
    -fx-text-alignment: center;
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Input fxml
*/
#input_root {
    -fx-background-color: #CCCCCC;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

#input_grid1, #rotationAngleSlider {
    -fx-background-color: #B8B8B8;
    -fx-border-width: 0px;
    -fx-padding: 10;
    -fx-spacing: 0;
}

#input_grid2 {
    -fx-background-color: #B8B8B8;
    -fx-border-width: 4px;
    -fx-padding: 10;
    -fx-spacing: 8;

}

#input_grid1 .label, #input_grid2 .label {
    -fx-alignment: center;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


#rotationAngleField, #scaleFactorX, #scaleFactorY, #finalPositionX, #finalPositionY {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-spacing: 8;
    -fx-border-width: 2px;
}

#input_rotationAngle, #input_referenceNode, #input_scaleFactor, #input_FinalNodePos {
    -fx-background-color: #A6A6A6;
    -fx-max-width:200;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Output fxml
*/
#output_root {
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #CCCCCC;
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/