/*Color scheme from https://www.colorcombos.com/color-schemes/124/ColorCombo124.html*/

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Global
*/
.root, #homeRoot, #loadRoot, #inputRoot, #outputRoot, #xmlGeneratorRoot {
    -fx-background-color: #ACD1E9;
}

Label {
    -fx-font-size: 15;
}

Button {
    -fx-background-radius: 20;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Input fxml
*/
#inputRoot {
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

#inputGrid1, #inputGrid2, #rotationAngleSlider {
    -fx-background-color: #F5FAFA;
    -fx-border-width: 0px;
    -fx-padding: 10;
    -fx-spacing: 0;
}

#inputGrid1 .label, #inputGrid2 .label {
    -fx-alignment: center;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#rotationAngleField, #scaleFactorX, #scaleFactorY, #finalPositionX, #finalPositionY {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-spacing: 8;
    -fx-border-width: 2px;
}

#inputRotationAngle, #inputReferenceNode, #inputScaleFactor, #inputFinalNodePos {
    -fx-background-color: #C1DAD6;
    -fx-max-width:200;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Output fxml
*/
#outputRoot {
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}
