/*Color scheme from https://www.colorcombos.com/color-schemes/124/ColorCombo124.html*/

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Global
*/
.root {
    -fx-background-image: url("Background.jpg");
    -fx-background-size: cover;
}

Label, Button {
    -fx-background-radius: 20;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

Button {
    -fx-opacity: 0.85;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Input fxml
*/
#inputRoot {
    -fx-hgap: 30;
    -fx-padding: 20;
}

#inputRoot .label {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#rotationAngleLabel, #referenceNodeLabel, #scaleFactorLabel, #positionOrShiftLabel {
    -fx-background-color: #C1DAD6;
    -fx-max-width:200;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*
    Output fxml
*/
#outputRoot {
    -fx-padding: 10;
    -fx-spacing: 8;
}
